/documentation/
/log/

### Windows ###
# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

*.zip
*.log
*.pdf
*.xls

*.bmp
*.jpg
*.jpeg

*.env

build/
storybook-static/
package-lock.json
.server_name
.idea/
node_modules/
*storybook.log